[Unit]
Description=Sky service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=idle
WorkingDirectory=/home/pi/sky/
ExecStart=/home/pi/sky/scripts/init.sh
RestartSec=5
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
