* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,
body {
    position: relative;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background: #F5F5F5;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    min-width: 200px;
    margin: 20px auto;
    min-height: 200px;
    background: #fff;
    box-shadow: 0 0 24px rgba(160, 151, 151, 0.65);
    border-radius: 2px;
    position: relative;
}

@media (max-width: 900px) {
    .card {
        margin: 0 auto;
    }
}

.card h1 {
    font-size: 45px;
    margin-bottom: 24px;
    font-weight: 200;
}

.card h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.card h4 {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 16px;
}

.card h5 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 16px;
}

.card p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
    margin: 0 10px 16px 10px;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

.card div.info-section {
    padding: 40px;
}

.card div.info-section ~ div.info-section {
    border-top: 1px solid #E0E0E0;
}

.info-section ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

.info-section li {
    padding-left: 10px;
    text-indent: -12px;
}

.info-section li::before {
    font-size: 20px;
    content: "• ";
    color: #4CAF50;
}

.card .title {
    padding: 16px;
    display: flex;
    height: 170px;
    background-size: cover;
    background-position: center center;
}

.card .title h3 {
    align-self: flex-end;
    margin: 0;
}

.card .supporting-text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    text-align: left;
}

.card-grid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-grid > .card {
    margin: 0;
    width: calc(25% - 16px);
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .card-grid > .card {
        width: calc(33.33333% - 16px);
    }
}

@media (max-width: 900px) {
    .card-grid > .card {
        width: calc(50% - 16px);
    }
}

@media (max-width: 620px) {
    .card-grid > .card {
        width: calc(100% - 16px);
    }
}

.page {
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 178px);
}

.parallax {
    position: relative;
    height: 500px;
    left: -40px;
    width: calc(100% + 80px);
    margin-bottom: 20px;
    overflow: hidden;
}

.parallax > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
    min-width: 100%;
    max-width: calc(100% + 100px);
    min-height: 100%;
    display: none;
}

@media (max-width: 900px) {
    .parallax {
        height: 300px;
    }
}

@media (max-width: 620px) {
    .parallax {
        height: 200px;
    }
}

@media (max-width: 350px) {
    .parallax {
        height: 150px;
    }
}

#footer {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 32px;
    position: relative;
    font-size: 17px;
    color: #616161;
    min-height: 64px;
}

#footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #4CAF50;
}

#footer #links a {
    margin-left: 5px;
}

#footer #logos {
    display: flex;
    margin-left: auto;
    height: 100%;
}

#footer #logos img {
    margin-left: 15px;
    max-height: 40px;
}

@media (max-width: 550px) {
   #footer #logos {
        flex-direction: column;
        align-items: center;
    }

    #footer #logos img {
        margin: 0;
    }
}

.emph {
    font-weight: bold;
    font-style: italic;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    color: #2E7D32;
}

header {
    position: relative;
    width: 100%;
    padding: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #4CAF50;
}

header > a,
#drawer-button {
    color: #757575;
}

header > a:first-child {
    font-size: 24px;
}

div.spacer {
    flex-grow: 1;
}

header > a:not(:first-child),
header > div {
    margin-left: 20px;
}

#drawer-button {
    display: none;
}

@media (max-width: 900px) {
    header > a:not(:first-child) {
        display: none;
    }

    #drawer-button {
        display: block;
    }
}

#drawer-button:hover {
    color: #2E7D32;
}

#drawer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 240px;
    height: calc(100% + 100px);
    max-height: calc(100% + 100px);
    padding-bottom: 100px;
    position: fixed;
    top: 0;
    left: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-left: 2px solid #4CAF50;
    background: #fafafa;
    transform: translate3D(0, 0, 0);
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: transform;
    overflow-y: auto;
    z-index: 5;
}

#drawer.show {
    transform: translate3D(-240px, 0, 0);
}

#drawer > a {
    color: #757575;
    padding: 15px 15px;
    text-align: right;
    border-bottom: 1px solid #E0E0E0;
}

#drawer > a:hover {
    color: #2E7D32;
    background-color: #E0E0E0;
}

#obfuscator {
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: -100px;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-out;
}

#obfuscator.visible {
    pointer-events: auto;
    opacity: 1;
}

.person {
    padding: 15px;
}

.person img {
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#landing-container {
    padding-top: 480px;
    padding-bottom: 40px;
}

#landing-banner::before {
    content: "";
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 2s ease-out;
    z-index: -1;
}

#landing-banner {
    position: absolute;
    top: 0;
    height: 600px;
    width: 100%;
    background-color: #757575;
    z-index: -1;
}

#landing-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #4CAF50;
}

#landing-banner h1 {
    color: white;
    font-size: 80px;
    padding-top: 100px;
    text-align: center;
    font-weight: 300;
}

#landing-banner h3 {
    color: #9E9E9E;
    font-size: 34px;
    text-align: center;
    font-weight: 300;
    padding-top: 15px;
}

@media (max-width: 900px) {
    #landing-banner h1 {
        font-size: 50px;
    }

    #landing-banner h3 {
        font-size: 25px;
    }
}

#landing-container > .page {
    margin-bottom: 40px;
}

#landing-container > card {
    min-height: 400px;
    margin: 0 auto;
    box-shadow: 0px 10px 24px rgba(160, 151, 151, 0.65);
}

#landing-container > .card-grid {
    max-width: 1200px;
    width: 94%;
}

#landing-container > .card-grid span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

#landing-container > .card-grid .card {
    transition: transform 0.1s ease-out;
}

#landing-container > .card-grid .card:hover{
    transform: scale(1.1);
    z-index: 3;
}

@media (max-width: 550px) {
    #landing-container > .card-grid .card:hover{
        transform: none;
    }
}

#countdown {
    text-align: center;
}

#countdown h1 {
    font-size: 70px;
}

#countdown #cSign {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 15px;
}

#countdown #cDate {
    color: rgba(0, 0, 0, 0.6);
}

#countdown h2 {
    font-size: 50px;
    font-weight: 200;
    margin: 0;
}

@media (max-width: 550px) {
    #countdown h1 {
        font-size: 40px;
    }
}
